@model Il_Dolce_Chefferini.Dto.AvaliacaoDto

<!DOCTYPE html>

<html>
<head>
    <title>Avaliação</title>
</head>
<body>

    <div class="row justify-content-center my-2">
        <h1 class="mx-3">Avaliação</h1>
    </div>


    <div class="row justify-content-center my-2">
        <h3> Dificuldade </h3>
    </div>
    <div class="row justify-content-center my-2">
        <h4>@Model.dificuldade</h4>
    </div>
        

        @if (@Model.usouAjuda)
    {
    <div class="row justify-content-center my-2">
        <h3> Utilidade das ajudas </h3>
    </div>
    <div class="row justify-content-center my-2">
        <h4>@Model.ajuda</h4>
    </div>

}

    <div class="row justify-content-center my-2">
        <h3> Grau de Satisfaçao </h3>
    </div>
    <div class="row justify-content-center my-2">
        <h4>@Model.satisfacao</h4>
    </div>


    <div class="row justify-content-center my-2">
        <a asp-action="Index" asp-controller="UtilizadoresView">
            <button type="button" class="btn btn-primary btn-lg">Sair</button>
        </a>
    </div>
</body>
</html>