@model Il_Dolce_Chefferini.Models.Utilizador

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="container">
        <div class="row justify-content-center">
            <div class="my-2">
                <a asp-controller="Home" asp-action="Receita">
                    <button type="button" class="btn btn-primary">Receitas</button>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="my-2">
                <a>
                    <button type="button" class="btn btn-secondary">Ementa</button>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="my-2">
                <a>
                    <button type="button" class="btn btn-secondary">Configuração Inicial</button>
                </a>
            </div>
        </div>
</div>

</body>
</html>
