<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Il Dolce Chefferini</h1>
<p>Este projeto foi realizado pelo Grupo 4,
    no âmbito da Unidade Curricular de Laboratórios
    de Informática IV da Universidade do Minho.
</p>
<p>
    Foi o primeiro contacto dos 4 elementos com a <i>framework</i>
    de desenvolvimento <b>.NET</b>. Para além disso, também
    foi o primeiro contacto com o desenvolvimento de <i>web pages</i>.
</p>
<p>Membros do Grupo:</p>
<ul>
    <li>André Gonçalves</li>
    <li>João Queirós</li>
    <li>Luís Alves</li>
    <li>Rafaela Rodrigues</li>
</ul>
<div>
</div>
</body>
</html>