@model Il_Dolce_Chefferini.Models.Confecao

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help</title>
</head>


<body>

    @Model.bemSucedida

</body>
</html>

