@model Il_Dolce_Chefferini.Models.Confecao


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Passo</title>
</head>


<body>

    <a asp-controller="ConfecaoView" asp-action="Next" asp-route-receitaId="@Model.id">
        <button type="button" class="btn btn-primary">Confecionar Receita</button>
    </a>

</body>
</html>