@model Il_Dolce_Chefferini.Models.Confecao


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Passo</title>
</head>


<body>
    <form>
        <input type="button" value="Clica aqui Boo"
               onclick="window.location.href='@Model.GetProximoPasso'" />
    </form>


</body>
</html>