@model Il_Dolce_Chefferini.Models.Passo


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Passo</title>
</head>
<body>

    <img src="@Model.aspetoEsperado" class="img-responsive" height="144px" width="256px" />



</body>
</html>