@model Il_Dolce_Chefferini.Models.Confecao


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Passo</title>
</head>
<body>

    <!--<img src="Model.u" class="img-responsive" height="144px" width="256px" />-->
    @Model.passoAtual;

</body>
</html>