@model System.Collections.Generic.IEnumerable<Il_Dolce_Chefferini.Models.Receita>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descriçao</th>
            <th>Imagem</th>
        </tr>
        </thead>
        @foreach (var r in Model)
        {
            <tr>
                <td>
                    @r.id
                </td>
                <td>
                    @r.nome
                </td>
                <td>
                    @r.descricao
                </td>
                <td>
                    @r.imagem
                </td>
            </tr>
        }
    </table>
</div>
</body>
</html>