@model Il_Dolce_Chefferini.Models.Receita

<!DOCTYPE html>

<html>
<head>
    <title>@Model.nome</title>
</head>
<body>
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary">Ingredientes</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Informações nutricionais</button>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Não possuo os ingredientes</button>
    </div>
    <div class="row ">
        <button type="button" class="btn btn-primary">Confecionar Receita</button>
    </div>
</div>
</body>
</html>