@model Il_Dolce_Chefferini.Models.Receita

<!DOCTYPE html>

<html>
<head>
    <title>@Model.nome</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center my-2">
        <a asp-controller="ReceitasView" asp-action="Ingredientes" asp-route-id="@Model.id">
            <button type="button" class="btn btn-primary">Ingredientes</button>
        </a>
    </div>
    <div class="row justify-content-center my-2">
        <a asp-controller="ReceitasView" asp-action="InformacaoNutricional" asp-route-id="@Model.id">
            <button type="button" class="btn btn-primary">Informações nutricionais</button>
        </a>
    </div>
    <div class="row justify-content-center my-2">
        <button type="button" class="btn btn-secondary">Não possuo os ingredientes</button>
    </div>
    <div class="row justify-content-center my-2">
        <a asp-controller="ConfecaoView" asp-action="Index" asp-route-receitaId="@Model.id">
            <button type="button" class="btn btn-primary">Confecionar Receita</button>
        </a>
    </div>
</div>
</body>
</html>