<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-controller="UserView" asp-action="getUsers">Ver utilizadores</a>
    <div>
        <h1>BATATAS</h1>
    </div>
</body>
</html>