<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-controller="UserView" asp-action="getUsers">Ver utilizadores</a>
    <div>
        <h1>Batataas</h1>
    </div>
    @using (Html.BeginForm())
    {
        <input type="button" name="button" class="button1" value="Insert" />
    }
</body>
</html>